.row {
  display: flex;
}

.sub-row-1 {
  max-width: 64%;
  flex: 0 0 64%;
}

.sub-row-2 {
  max-width: 36%;
  flex: 0 0 36%;
}

.table-shoping-cart {
  width: 100%;
  min-width: 680px;
  border-collapse: collapse;
  color: #555;
  line-height: 1.6;
}

.table-head {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.table-head th {
  font-size: 13px;
  color: #555;
  text-transform: uppercase;
  line-height: 1.6;
  padding-top: 15px;
  padding-bottom: 15px;
}

.column-1 {
  text-align: left;
  width: 133px;
  padding-left: 50px;
}

.column-2 {
  width: 220px;
  font-size: 15px;
}

.column-3 {
  padding-left: 25px;
  text-align: left;
  width: 120px;
  font-size: 16px;
}

.column-4 {
  width: 145px;
  text-align: center;
}

.column-5 {
  width: 120px;
  padding-right: 50px;
  text-align: right;
  font-size: 16px;
}

.table-row {
  height: 185px;
}

.how-itemcart1:hover::after {
  opacity: 1;
}

.how-itemcart1::after {
  content: "X";
  opacity: 0;
  font-size: 16px;
  color: #f8f9f9;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-itemcart1 {
  width: 65px;
  height: 75px;
  position: relative;
  cursor: pointer;
}

.how-itemcart1 img {
  width: 100%;
  height: 100%;
}

.bor-b {
  border-bottom: 1px solid #e6e6e6;
}

.h3 {
  font-weight: 900;
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 30px;
}

.p {
  color: #888;
  font-size: 13px;
  line-height: 1.6923;
}

.span {
  font-size: 13px;
  line-height: 1.6923;
  text-transform: uppercase;
  color: #555;
}

.update-cart {
  border: 1px solid #e6e6e6;
  border-radius: 22px;
  background-color: #f3f3f3;
  min-width: 156px;
  height: 45px;
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
  color: #333;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  cursor: pointer;
  font-weight: 500;
}

.update-cart:hover {
  border-color: #717fe0;
  background-color: #717fe0;
  color: #fff;
}

.update-totals {
  border: 1px solid #e6e6e6;
  border-radius: 22px;
  background-color: #f3f3f3;
  min-width: 100%;
  height: 45px;
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
  color: #333;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  cursor: pointer;
  font-weight: 500;
}

.update-totals:hover {
  border-color: #717fe0;
  background-color: #717fe0;
  color: #fff;
}

.input-coupon {
  border: 1px solid #e6e6e6;
  border-radius: 22px;
  width: 220px;
  height: 45px;
  font-size: 14px;
  line-height: 1.466667;
  color: #333;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  display: block;
}

.bor1 {
  border: 1px solid #e6e6e6;
}

.bor8 {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.bor-l {
  border-left: 1px solid #e6e6e6;
}

.bor-r {
  border-right: 1px solid #e6e6e6;
}

.bor12 {
  border-bottom: 1px dashed #d9d9d9;
}

.ml-50 {
  margin-left: 50px;
}

.mt-9 {
  margin-top: 9px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-22 {
  margin-bottom: 22px;
}

.mb-50 {
  margin-bottom: 50px;
}

.m-0 {
  margin: 0;
}

.pb-13 {
  padding-bottom: 13px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-27 {
  padding-top: 27px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-1 {
  padding-top: 1px;
}

.pl-40 {
  padding-left: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-10 {
  padding-right: 10px;
}

.pt-2 {
  padding-top: 2px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-15 {
  padding-top: 15px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-85 {
  padding-bottom: 85px;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.size-208 {
  width: 34.5%;
}

.size-209 {
  width: 65.5%;
}

.plr-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.select {
  height: 25px;
  border: 0;
  outline: none;
  width: 85%;
  margin-left: 10px;
  font-size: 11px;
}

.input {
  width: 80%;
  height: 35px;
  font-size: 13px;
  line-height: 1.6923;
  color: #555;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  outline: none;
  display: block;
}

.align-center {
  align-items: center;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stext {
  font-size: 15px;
  line-height: 1.466667;
  color: #333;
  font-weight: 600;
}

.mtext {
  font-size: 18px;
  line-height: 1.222222;
  color: #333;
}

.checkout {
  border-radius: 25px;
  background-color: #222;
  width: 100%;
  height: 50px;
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  cursor: pointer;
  border: none;
}

.checkout:hover {
  background-color: #717fe0;
}
